@charset "utf-8";

/*---BASE---*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  background-color: #fff;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 14px;
	text-transform: uppercase;
  text-rendering: optimizeLegibility;
	text-
	/*overflow-x: hidden;*/
}
.index{
	background: url(../img/bg/indexBg.jpg) center no-repeat;
	background-size: cover;
}
/*.container{
	width: 940px;
}*/

/*---GLOBAL---*/

h2{
	margin-bottom: 40px;
	font-size: 200%;
}
p{
	line-height: 24px;
	background: none;
}
time{
	font-weight: 300;
}
ul{
	list-style: none;
	margin-bottom: 35px;
}
section{
	display: block;
}
.section-container{
	width: 100%;
	margin-top: 30px;
	padding: 55px 80px;
	background:
		url(../img/bg/sectionSeparator.png) center no-repeat,
		url(../img/bg/sectionBg.png);
	color: black;
}
.section-container section:first-child{
	padding-right: 60px;
}
.section-container section:last-child{
	padding-left: 60px;
}
.btn-container{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.btn,
.btn:link,
.btn:visited,
input[type=submit]{
	display: inline-block;
	width: 140px;
	border-radius: 0;
	padding: 16px 35px;
	background-color: black;
	color: white;
}
.btn-container .btn{
	width: 45%;
	margin: 0;
}

/*---HEADER---*/
.hero-logo{
	margin: 60px auto 0 auto;
}
/*---NAVBAR---*/
.navbar-inverse {
  background-color: #000;
  border:none;
}
.navbar-inverse .navbar-nav > li > a {
  padding: 30px 20px;
	color: #fff;
}
.login::before{
	content: "\f090";
	display: inline-block;
	/*No idea why tho, lol*/
	vertical-align: top;
	/*Google it later*/
	margin-right:15px;
	font-family:'FontAwesome';
	font-size: 20px;
	color: grey;
	opacity: 0.8;
}

/*---FEATURES SECTION---*/

.features{
	padding-bottom: 30px;
	margin:0 auto 30px;
}
.feature{
	padding: 0 30px;
	text-align: center;
}
.feature h2::after{
	content: "";
	display: block;
	margin: 20px auto 35px auto;
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	background-color: white;
}

/*---NEWS SECTION---*/

.news-preview li{
	display: block;
	margin-bottom: 30px;
}

/*---GALLERY---*/
.gallery .carousel{
	margin-bottom: 45px;
}
.gallery img{
	border: 5px solid white;
}